.header {
    width: 100%;
    height: 60px;
    background-color: #fff;
    position: relative;
}

.header__navbar {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.header__logo {
    display: flex;
    align-items: center;
}

.header__logo-img {
    padding-left: 16px;
}

.header__menu {
    display: flex;
    font-size: 14px;
    line-height: 60px;
}

.header__menu-group {
    display: flex;
    align-items: center;
}

.menu__items1,
.menu__items2,
.menu__items3 {
    padding: 0 10px;
    color: #000;
    font-weight: 400;
    text-decoration: none;
}

.menu__items-span {
    font-weight: 600;
    font-size: 12px;
}

.header__navbar-hidden1,
.header__navbar-hidden2,
.header__navbar-hidden3 {
    line-height: 20px;
    left: 0;
    position: absolute;
    top: 100%;
    width: 100%;
    min-height: 200px;
    background-color: #f3f3f3;
    border: 1px solid #000;
    display: none;
}

.menu__items1:hover .header__navbar-hidden1 {
    display: flex;
}

.navbar-hidden__content,
.navbar-hidden__list {
    width: 25%;
    padding: 20px;
}

.navbar-hidden__list {
    display: flex;
    flex-direction: column;
}

.navbar-hidden__content {}

.navbar-hidden__title {
    margin: 0;
    padding: 0;
}

.navbar-hidden__description {}

.navbar-hidden__items {
    padding: 15px 0 0 0;
    font-size: 14px;
    text-decoration: none;
    color: #000;
    font-weight: 400;
}

.navbar-hidden__items:hover {
    text-decoration: underline;
}